<p id="notice"><%= notice %></p>

<h1>Listing Orphanages</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Orphanage</th>
    <th>Email</th>
    <th>Number of Students</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @orphanages.each do |orphanage| %>
      <tr>
        <td><%= link_to orphanage.first_name, orphanage %></td>
        <td><%= orphanage.email %></td>
        <td><%= orphanage.students.count %></td>
        <td><%= link_to 'Show', orphanage %></td>
        <% if can? :update, orphanage %>
            <td><%= link_to 'Edit', edit_orphanage_path(orphanage) %></td>
        <% end %>
        <% if current_user.type == 'Zone' || current_user.type == 'Admin' %>
            <td><%= link_to 'Destroy', orphanage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orphanage', new_orphanage_path %>
