<p id="notice"><%= notice %></p>

<h1>Listing Orphanages</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orphanages.each do |orphanage| %>
      <tr>
        <td><%= orphanage.first_name %></td>
        <td><%= orphanage.zone.email %></td>
        <td><%= link_to 'Show', orphanage %></td>
        <% if can? :update, orphanage %>
            <td><%= link_to 'Edit', edit_orphanage_path(orphanage) %></td>
        <% end %>
        <% if current_user.type == 'Zone' || current_user.type == 'Admin' %>
            <td><%= link_to 'Destroy', orphanage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orphanage', new_orphanage_path %>
