<%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.collection_select :zone_id, Zone.all,:id,:first_name, include_blank: false%>
    <% if current_user.type == 'Orphanage' %>
        <%= f.collection_select :orphanage_id, [current_user.zone],:id,:first_name, include_blank: false %>
    <% else %>
        <%= f.collection_select :orphanage_id, Orphanage.all,:id,:first_name, include_blank: false, required:true %>
    <% end %>



    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :kaksha %><br>
      <%= f.text_field :kaksha %>
    </div>
    <div class="field">
      <%= f.label :gender %><br>
      <%= f.text_field :gender %>
    </div>
    <div id = "submit" class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script>


    $(document).ready(function(){

        $("#student_zone_id").change(function() {
            set_default($("#student_orphanage_id"));
            var zone = $('select#student_zone_id :selected').val();
            if(zone==""){
                zone=0;
                $("#student_orphanage_id").attr('disabled','disabled');
            }
            /*var url = '/institution/get_centers/' + institution*/
            var url = '/zones/'+zone+'/get_all_orphanages';
            var div_update = "#student_orphanage_id";
            get_url_Data_for_multiparams(url,div_update);

        });

        $("#submit").click(function() {
            var zone = $('select#student_orphanage_id :selected').val();
            if(zone==""){
                alert("Please Select Orphanage");
                return false;
            }
        });


    });

</script>